@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik+Distressed&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* ..................................................section1  style index Html.......................................... */
body {
    /* font-family: 'Poppins', sans-serif;
    font-size: medium;
    color: rgb(13, 15, 13); */
    background-color: rgba(247, 234, 93, 0.76);
}
 .hero {
    /* height: 100vh; */
    /* position: relative; */
 }
 .hero-text {
    position: absolute;
 }
.hero-div {
 height: 100vh;
 position: relative;

}
.headding {
    font-family: 'Rubik Distressed', cursive, sans-serif;
    font-size: 100px;
    color: brown;
    margin: 50px;

}
img {
    max-height: 350px;
}
/* .border {
    border-color: black;
    border: 5px solid;
} */
/* .flex-display{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
} */

/* Color Theme Swatches in Hex */
.Copy-of-Music-Technolgy-1-hex { color: #0684F5; }
.Copy-of-Music-Technolgy-2-hex { color: #3A2197; }
.Copy-of-Music-Technolgy-3-hex { color: #b253d5; }
.Copy-of-Music-Technolgy-4-hex { color: #03DBF2; }
.Copy-of-Music-Technolgy-5-hex { color: #00274B; }
